/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* custom CSS */
@link-color: #66FF66;
@plaintext-color: #FFFFFF;
@shadow-color: #333333;
@highlight-color: #FFFF33;
@background-color: #4c4c4c;
@black-color: #000000;

@font-face {
	font-family: 'classic-console';
	src: url('../fonts/clacon2.woff2') format('woff'),
		url('../fonts/clacon2.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;

}


.b-page-wrapper {
	display: flex;
	align-items: stretch;
	min-height: 100vh;
	background: @shadow-color;

	font-family: 'classic-console', Arial, Helvetica, sans-serif;
	outline-color: @plaintext-color;

	.b-page {
		display: flex;
		flex-grow: 1;

		.b-chat-viewport-wrapper {
			display: flex;
			flex-grow: 1;

			.b-chat-viewport {
				display: flex;
				flex-grow: 1;
				flex-direction: row;
				color: @plaintext-color;

				/* Aside */
				.b-conversations-wrapper {
					display: flex;
					min-height: 100vh;
					width: 360px;
					margin-right: auto;
					border-right: 1px solid @link-color;
					background-color: @shadow-color;
					color: @plaintext-color;

					.b-conversations {
						display: flex;
						flex-direction: column;
						padding: 10px;


						/* profile */
						.b-profile-navigation-wrapper {
							display: flex;
							margin-left: auto;

							.b-profile-navigation {
								margin: 0 0 10px;
							}
						}

						/* search */
						.b-conversations-search-wrapper {
							display: flex;
							margin: 0 0 21px 0;

							.b-conversations-search {
								display: flex;
								margin-left: auto;

								&>* {
									border-color: @link-color;
									outline-color: @link-color;
									color: @plaintext-color;
									background: @shadow-color;
									font-family: 'classic-console', Arial, Helvetica, sans-serif;
									font-size: 1.2em;

									&:hover {
										outline: none;
									}
								}

								.b-input {
									height: 25px;
									width: 290px;
									padding-left: 5px;
								}
							}
						}

						.b-conversations-list-wrapper {
							.b-conversations-list {
								.b-conversation-wrapper {
										cursor: pointer;

										&.state__active {
											background-color: @background-color;
										}

									.b-conversation {
										display: flex;
										flex-direction: row;
										padding: 10px;
										border-bottom: 1px solid @link-color;

										&:hover {}
									}

									&:first-child {
										border-top: 1px solid @link-color;
									}

									.b-message-wrapper {
										display: flex;
										flex-direction: column;

										.b-message {
											display: flex;
											flex-grow: 1;
											flex-direction: column;

											.b-conversation-last-message {
												width: 230px;
												font-size: 0.9em;
												line-height: 0.9em;
												overflow: hidden;
												text-overflow: ellipsis;
												display: -webkit-box;
												-webkit-line-clamp: 2;
												line-clamp: 2;
												-webkit-box-orient: vertical;
											}
										}
									}

									.b-message-info {
										display: flex;
										flex-direction: column;
										align-items: end;
										margin-left: auto;
										font-size: 0.8em;


										.b-unread-messages {
											margin-top: auto;
											background-color: @link-color;
											padding: 5px 8px;
											border-radius: 50%;
											color: @black-color;
										}
									}

								}
							}
						}
					}
				}

				.b-chat-window-wrapper {
					display: flex;
					flex-grow: 1;

					.b-chat-window-empty-wrapper {
						display: flex;
						width: 100%;

						.b-chat-window-empty {
							align-self: center;
							width: 100%; 
							font-size: 2em;
							text-align: center;
						}
					}

					.b-chat-window {
						display: flex;
						flex-direction: column;
						width: 100%;

						

						.b-chat-info-wrapper {
							display: flex;
							height: 88px;
							border-bottom: 1px solid @link-color;
							
							.b-chat-info {
								display: flex;
								width: 100%;

								.b-avatar-wrapper {
									align-self: center;
									padding-left: 10px;
								}
								
								.b-profile-title {
									align-self: center;
									padding: 3px 0 0 5px;
								}

								.b-chat-settings {
									align-self: center;
									margin-left: auto;
									padding-right: 10px;
								}
							}
						}

						.b-chat {
							margin-top: auto;
							padding: 0 20px;
							font-size: 1.3em;

							.b-chat-message-wrapper {
								padding: 7px 0;

								.b-chat-message {

									.b-message-author {
										color: @link-color;
										padding-left: 5px;
										font-size: 0.9em;
									}

									.b-message-time {
										color: @background-color;
										background-color: @link-color;
										border-radius: 15px;
										margin-top: auto;
										padding: 4px 8px;
										font-size: 0.9em;
									}

									.b-message-text {
										line-height: 1.2em;
									}
								}
							}

							.state__mine {
								text-align: right;
							}
						}

						.b-chat-reply-wrapper {
							height: 50px;
							border-top: 1px solid @link-color;

							.b-chat-reply {
								display: flex;
								padding: 10px;

								.b-attach-file {
									margin-right: 10px;
									align-self: center;
									cursor: pointer;

									.b-image {
										display: flex;
									}
								}

								&>.b-input, &>.b-submit {
									border-color: @link-color;
									outline-color: @link-color;
									color: @plaintext-color;
									background: @shadow-color;
									font-family: 'classic-console', Arial, Helvetica, sans-serif;
									font-size: 1.2em;

									&:hover {
										outline: none;
									}
								}

								.b-input {
									padding-left: 5px;
									flex-grow: 1;
								}
								.b-submit {
									margin-left: 10px;
									padding-top: 5px;
								}
							}

						}
					}
				}
			}
		}
	}
}

/* 400.html */
.b-page-wrapper {
    .b-page {

        .b-error-wrapper {
            display: flex;
            flex-grow: 1;

            .b-error {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-self: center;
                text-align: center;


                .b-error-title {
                    font-size: 4em;
                    color: @link-color;
                }

				.b-error-message {
					color: @plaintext-color;
					font-size: 1.5em;
					padding: 2em 0 1.3em;
				}
            }
        }
    }
}


/* AuthPage */
.b-auth-page-wrapper {
	display: flex;
	flex-grow: 1;

	.b-auth-page {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		align-self: center;

		.b-page-title {
			font-size: 2em;
            color: @link-color;
			padding: 50px 0 40px;
			text-align: center;
		}

		.b-input-wrapper {
			display: flex;
			flex-direction: column;	
			padding: 10px 0;

			.b-label {
				color: @plaintext-color;
				font-size: 0.8em;
				padding-bottom: 5px;
			}

			.b-input {
				padding-left: 5px;
			}

			.b-input-state {
				padding-top: 5px;
				color:#FFFF33;
				font-size: 0.8em;
			}
		}

		.b-input, .b-submit {
			border-color: @link-color;
			outline-color: @link-color;
			color: @plaintext-color;
			background: @shadow-color;
			font-family: 'classic-console', Arial, Helvetica, sans-serif;
			font-size: 1.1em;
			padding: 5px;
		
			&:hover {
				outline: none;
			}
		}

		.b-submit-wrapper {
			display: flex;
			justify-content: center;
			margin: 80px 0 10px;    

			.b-submit {
				text-align: center;
			}
		}

		.b-sign-in-wrapper {
			text-align: center;
		}
	}
}



/* TODO put this in proper components */
.b-avatar-wrapper {
	margin-right: 10px;

	.b-image {
		display: block;
		width: 47px;
		height: 47px;
		border-radius: 50%;

		&.state__empty {
		}
	}
}

.b-profile-title {
	font-size: 1.3em;
	color: @link-color;
	padding-bottom: 6px;
}

.b-link {
	color: @link-color;

	&:hover {
		color: @highlight-color;
		text-decoration: none;
	}
}