---
id: "root"
message: "You touch my talala"
---

<html>
    <head>
        <script src="../src/index.js" type="module"></script>
    </head>
    <body>
        <div id="{{ id }}">
            {{ message }}
        </div>
    </body>
</html>